:root {
   --bg-color: #0014FF;
}

.fontStyle {
   font-family: 'Montserrat';
   font-weight: 800;
}

.bdImg {
   background-image: url('../img/bg-tools.jpg');
   background-size: cover;
}

.swiper-pagination-bullet-active {
   background: var(--bg-color) !important;
}